#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}